{% from "form_macro.html" import render_field %}
{% extends "base.html" %}

{% block title %}
CRM Form
{% endblock %}

{% block content %}
              <span class="card-title">Marketing Form</span>
              <div class="row">
              <div class="col s8 offset-s2">
              <p class="desc">Mozilla continues to build our core, grow our influence, and prototype the future. Making connections and cultivating relationships is critical to helping people know our brands, programs and products, and take action with us.</p>

              <p class="desc">Do you have Constituents, Contributors, or Customers whose Relationships you want to help nurture and manage?</p>

              <p class="desc">Tell us more and then join our weekly meeting for next steps (we’ll send you the invite details once you submit the bug)</p>
              </div>
<div class="row">	
</div>

<div class="row">
<form method=post class="col s12">
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.terms) }}
<br><br>
<input class="waves-effect waves-light btn bmobtn" type=submit value=Submit>
</form>
</div>
 {% endblock %}
